/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.container {
    overflow-x: scroll
}


.paginate_button a {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.375rem 0.75rem;
}
    .paginate_button a:hover {
        z-index: 2;
        color: #fff;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .paginate_button a:focus {
        z-index: 3;
        color: #fff;
        background-color: #e9ecef;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(255,255,255,0.7);
    }




.paginate_button:not(:first-child) a {
    margin-left: -1px;
}

.paginate_button.active a {
    border-color: #dee2e6;
    z-index: 3;
    color: #000;
    background-color: #ff9800;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(17 17 18 / 25%);
}

.paginate_button.disabled a {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.flex-row {
    display: flex;
}

canvas#signature-pad {
    background: #fff;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    min-width: 310px !important;
    min-height: 250px !important;
}

button#clear {
    height: 100%;
    background: #4b00ff;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

    button#clear span {
        transform: rotate(90deg);
        display: block;
    }

.fullscreen {
    margin: 0;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: 1900px !important;
}