<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ซีมันนี่</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/css/fileinput.css" rel="stylesheet" />
    <link href="~/lib/css/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <link href="~/lib/jquery/bootstrap-table/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <script src="~/lib/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/lib/js/piexif.js" type="text/javascript"></script>
    <script src="~/lib/js/sortable.js" type="text/javascript"></script>
    <script src="~/lib/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/bootstrap-table/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery/bootstrap-table/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        body {
            min-height: 75rem;
        }

        .myDiv {
            background-color: #ffe0b2;
            text-align: center;
        }
    </style>
    <header>
        <div class="myDiv">
            <img src="~/lib/images/logo.png" height="80" alt="">
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Management" asp-action="UserAction">ผู้ใช้งาน</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Pay" asp-action="CustomerAction">ลูกค้า</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Pay" asp-action="ContractAction">สัญญากู้</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ประวัติ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">สรุปรายวัน</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownsetting" data-bs-toggle="dropdown" aria-expanded="false">ตั้งค่า</a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownsetting">
                                <li><a class="dropdown-item" href="#">บ้าน</a></li>
                                <li><a class="dropdown-item" href="#">ประจำวัน</a></li>
                                <li><a class="dropdown-item" href="#">ระบบ</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">


                        <button type="button" class="btn btn-dark btn-sm position-relative rounded-pill " style="width:75px">
                            แจ้งเตือน
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                4
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                        <div class="dropdown" style="padding-left:1em ">
                            <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>admin</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
