<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ซีมันนี่</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <link href="~/lib/jquery/bootstrap-table/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/bootstrap-table/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery/bootstrap-table/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DailyLoan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="nav-link text-dark" asp-area="" asp-controller="Operation" asp-action="DailyCost">DailyCost</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Operation" asp-action="DailyCostHistory">History</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Management" asp-action="UserAction">User Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Management" asp-action="CustomerAction">Customer Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Management" asp-action="ContractAction">Contract Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Management" asp-action="HouseAction">House Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Management" asp-action="CustomerLineAction">Customer Line Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Management" asp-action="ConfigAction">Config Management</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ซีมันนี่ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Home</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
