
<div class="container">
    <div class="row">
        <aside class="col-lg-3">
            <h5 class="widget-title">Admin Management</h5>
            <ul class="list">
                <li><a asp-area="" asp-controller="Management" asp-action="ConfigAction">Config Management</a></li>
                <li><a asp-area="" asp-controller="Management" asp-action="ContractAction">Contract Management</a></li>
                <li><a asp-area="" asp-controller="Management" asp-action="CustomerAction">Customer Management</a></li>
                <li><a asp-area="" asp-controller="Management" asp-action="UserAction">User Management</a></li>
            </ul>
        </aside>
        <div class="col-lg-9">
            <h5>Edit Information</h5>

            @{ switch (ViewBag.partialView)
                {
                    case "Config":
                        <partial name="Config.cshtml" /> break;
                    case "Contract":
                        <partial name="Contract.cshtml" /> break;
                    case "Customer":
                        <partial name="Customer.cshtml" /> break;
                    case "User":
                        <partial name="User.cshtml" /> break;
                } }
        </div>
    </div>
</div>
