
<div class="card-body bg-light p-3 rounded ">
    <div class="input-group mb-3 input-group-sm">
        <input type="date" class="form-control" placeholder="วันที่">
        <button type="button" class="btn btn-info btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            ค้นหา
        </button>

    </div>
</div>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color">
                <b>รายจ่าย</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <form>
                    <div class="form-row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ค่าหัว</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ค่าหัว" value="200" readonly>
                                </div>
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">เบี้ยเลี้ยง</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบี้ยเลี้ยง" value="10" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo_1">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo_1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo_1">
                <b>รายรับ</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo_1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo_1">
            <div class="accordion-body">
                <form>
                    <div class="form-row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ยอดที่เก็บได้</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดที่เก็บได้" value="1000" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <b>สรุป</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <form>
                    <div class="form-row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ยอดที่ต้องเก็บได้</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดที่ต้องเก็บได้" value="1500" readonly>
                                </div>
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ยอดที่เก็บได้</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดที่เก็บได้" value="1000" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ยอดคงเหลือ</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดคงเหลือ" value="150" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>