<div class="card-body bg-light p-3 rounded ">
    <div class="input-group mb-3 input-group-sm">
        <input type="date" class="form-control" placeholder="วันที่">

    </div>

    <div class="input-group mb-3 input-group-sm justify-content-center">
        <label for="sel1" class="form-label"></label>
        <select class="form-select form-select-sm" id="sel1" name="sellist1">
            <option>บ้าน1</option>
        </select>
        <label for="sel2" class="form-label"></label>
        <select class="form-select form-select-sm" id="sel2" name="sellist1">
            <option>สาย1</option>
        </select>
        <button type="button" class="btn btn-info btn-sm">
            <i class="fa fa-search"></i>
            ค้นหา
        </button>
    </div>
</div>
<br>
<form style="background-color:#F8F9FA;">
    <div class="form-row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินเดือน 1</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินเดือน 1">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">หมายเหตุ 1 </label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="หมายเหตุ 1 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินเดือน 2</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินเดือน 2">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">หมายเหตุ 2 </label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="หมายเหตุ 2 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินเดือน 3</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินเดือน 3">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">หมายเหตุ 3 </label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="หมายเหตุ 3 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินเดือน 4</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินเดือน 4">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">หมายเหตุ 4 </label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="หมายเหตุ 4 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินเดือน 5</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินเดือน 5">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">หมายเหตุ 5 </label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="หมายเหตุ 5 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">น้ำมัน</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="น้ำมัน">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เติมเงิน</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เติมเงิน ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">ตำรวจ 1</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำรวจ 1">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">ตำรวจ 2</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำรวจ 2 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">ตำรวจ 3</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำรวจ 3 ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">หมึก+กระดาษ</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="หมึก+กระดาษ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">โดนจับ</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="โดนจับ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">ค่าบำรุงรักษารถ</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ค่าบำรุงรักษารถ">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินประจำบ้าน</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินประจำบ้าน">
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินที่ต้องได้คืน</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินที่ต้องได้คืน" readonly>
                </div>
                <div class="col-md-6 pb-3">
                    <label for="inputEmail4">เงินที่ได้รับคืน</label>
                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เงินที่ได้รับคืน">
                </div>
            </div>
        </div>
    </div>

</form>
<br>
<div class="justify-content-center text-center">
    <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก</button>
</div>