<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color">
                <b>ดอกเบี้ยปกติ</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <form>
                    <div class="form-row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ดอกเบี้ย</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดอกเบี้ย" value="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo_1">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo_1" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo_1">
                <b>ดอกเบี้ยพิเศษ</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo_1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo_1">
            <div class="accordion-body">
                <form>
                    <div class="form-row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">ดอกเบี้ย</label>
                                    <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดอกเบี้ย" value="5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">วันที่เริ่มต้น</label>
                                    <input type="date" class="form-control form-control-sm" id="inputEmail4" placeholder="วันที่เริ่มต้น">
                                </div>
                                <div class="col-md-6 pb-3">
                                    <label for="inputEmail4">วันที่สิ้นสุด</label>
                                    <input type="date" class="form-control form-control-sm" id="inputEmail4" placeholder="วันที่สิ้นสุด">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center text-center">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>